<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <title>@ViewBag.SubjectMail</title>
</head>
<body>
    Dear @ViewBag.Superior,<br />
    mohon untuk segera diproses New Outlet dengan detail dibawah ini.<br />
    <div style="width: 640px; font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
        <div align="left">
            <table border="0">
                <tr><td style="white-space:nowrap">Outlet ID</td><td>: @ViewBag.OutletId</td></tr>
                <tr><td style="white-space:nowrap">Outlet Name</td><td>: @ViewBag.CustName</td></tr>
                <tr><td style="white-space:nowrap">Outlet Address</td><td>: @ViewBag.CustAddress</td></tr>
                <tr><td style="white-space:nowrap">Channel</td><td>: @ViewBag.Channel</td></tr> 
                <tr><td style="white-space:nowrap">PIC Outlet</td><td>: @ViewBag.Pic</td></tr>
                <tr><td style="white-space:nowrap">PIC Jabatan</td><td>: @ViewBag.Jabatan</td></tr>
                <tr><td style="white-space:nowrap">Contact Number</td><td>: @ViewBag.Contact</td></tr>
                <tr><td style="white-space:nowrap">Created Date</td><td>: @ViewBag.CreatedDate</td></tr>  
                <tr><td style="white-space:nowrap">Distributor</td><td>: @ViewBag.Distributor</td></tr>
                <tr><td style="white-space:nowrap">Distributor Address</td><td>: @ViewBag.DistAddress</td></tr>
            </table>
        </div>
    </div>
    <p style="color:red">agar customer tersebut bisa melakukan order agar dimasukkan customer code dari distributor dan group price</p>
    <p>Salam,</p>
    <!---<img src='cid:/*ViewBag.Signature*/' alt='Signature' width='182' height='75' /></br>-->
    @ViewBag.SalesName
   <p><i>
            Email ini dikirim secara otomatis oleh system, tidak perlu dibalas.
            Untuk keterangan lebih lanjut silahkan hubungi BE terkait
            GeisaForce - @ViewBag.DateSend
   </i></p>
</body>
</html>